.summery{
    background-color: $off-white;
    padding: $m-size 0;
    margin-bottom: $m-size;
    &__title{
        font-weight: 100;
        line-height: 3.3rem;
        span{
            font-weight: bold;
        }
    }
    &__actions{
        margin-top: $m-size;
    }

}